<div class="span16 inicio">
  <div class="row">
    <div class='span7 offset1 texto_inicio'>
      <h3>
        Compile Portugol pelo navegador
      </h3>
      <p>
        Através do PortugOn você pode criar e compilar seus programas através do seu navegador. 
      </p>

      <h3>
        Acesse de qualquer lugar
      </h3>
      <p>
        Acesse-o de maneira fácil de qualquer lugar em que você esteja. Através do browser você acessa o compilador de qualquer computador
      </p>

      <h3>
        Armazena seus programas
      </h3>
      <p>
        Com o PortugOn você pode salvar seus programas e mantê-los em nossa base. Você não perde nada
      </p>
    </div>

    <div class="span6 offset2 texto_inicio">
      <form class='form-stacked'>
        <h3>
          Acesse sua conta
        </h3>

        <label>
          Email
        </label>
        <p>
          <input type='text' name='email' />
        </p>

        <label>
          Senha
        </label>
        <p>
          <input type='password' name='password' />
        </p>

        <p>
          <input class='btn' type='submit' value='Entrar' />
          ou
          <a class='btn info' href='#'>Cadastre-se</a>
        </p>
      </form>
    </div>
  </div>
</div>
